body {
	background: radial-gradient(circle, black, white);
}


.autoplay {

width: 100%;

}

.heading {
	margin: 0 auto;
	color: rgb(39, 40, 34);
}

.buttonstyles {
	padding-bottom: 20px;
	font-family: 'Source Code Pro', monospace;
}


.bodydiv {

text-align: center;
font-family: 'Source Code Pro', monospace;
font-weight: normal;
font-size: 40px;
margin: 0 auto;
color: ;

}

img {
width: 1000px;
padding-top: 25px;
display: block;
margin-left: auto;
margin-right: auto;
padding:1px;
border:1px solid #021a40;
background-color:black;
}

