.content {
	width: 720px;
	padding: 54px;
	border-left: 6px solid #dddddd;
}


.pagename {
	color: rgb(222, 24, 0);
	font-family: "lato", serif;
	font-weight: normal;
	line-height: 1.5;

}

.bestdressed {
	font-family: "lato", serif;
	font-weight: normal;
	line-height: 1.5;
}

.toptabs {
    font-family: "lato", serif;
	font-weight: normal;
	line-height: 1.5;
	color: #dddddd;
	text-decoration: underline;
	display: inline;

}

.dateofarticle {

	font-family: "lato", serif;
	font-weight: normal;
	line-height: 1.5;
	color: #cccccc;
}

.seconddate {

	font-family: "lato", serif;
	font-weight: normal;
	line-height: 1.5;
	color: #cccccc;
}

.firstarticle {
	color: black;
	font-family: "lato", serif;
	font-weight: normal;
	line-height: 1.5;

}

.secondarticle {
	color: black;
	font-family: "lato", serif;
	font-weight: normal;
	line-height: 1.5;
}

.firstparagraph {

	color: black;
	font-family: "lato", serif;
	font-weight: normal;
	line-height: 1.5;
	margin: 0 auto;

}

.secondparagraph {

	color: black;
	font-family: "lato", serif;
	font-weight: normal;
	line-height: 1.5;
	margin: 0 auto;
}

.continues {
	color: red;
	font-family: "lato", serif;
	font-weight: normal;
	line-height: 1.5;
	text-align: right;
	font-weight: bold;
}

.continuestwo {

color: red;
	font-family: "lato", serif;
	font-weight: normal;
	line-height: 1.5;
	text-align: right;
	font-weight: bold;

}

.bottomtabs {

	font-family: "lato", serif;
	font-weight: normal;
	line-height: 1.5;
	color: #dd0000;

}

.footer {

    color: #bbbbbb;
	font-family: "lato", serif;
	font-weight: normal;
	line-height: 1.5;

}

img {
	width: 100%;
}





